        #burj_khalifa:hover {
	
            fill: red !important;
        }

        #light{
            transform-origin: 50% 50%;
        }
        
        #shanghaiTower:hover {
	
            fill: red !important;
        }
        
        #wtc:hover {
	
            fill: red !important;
        }
        
        #SFC:hover {
            
	       fill: red !important;
        }
        
        #ICC:hover {
	
            fill: red !important;
        }
        
        #taipei:hover {
	
            fill: red !important;
        }
        
        #petronas:hover {
	
            fill: red !important;
        }
        
        #zigfeng:hover {
	
            fill: red !important;
        }
        
        .bKStyle{
        
            position: absolute;
            width: 670px;
            height: 560px;
            background-color: white;
            font-family: sans-serif;
            font-size: 15px;
            -webkit-box-shadow: 5px 4px 5px 0px rgba(186,186,186,0.7);
            -moz-box-shadow: 5px 4px 5px 0px rgba(186,186,186,0.7);
            box-shadow: 5px 4px 5px 0px rgba(186,186,186,0.7);
            z-index: 903;
        }
        
        p{
        
            position:relative;
            left:320px;
            width: 350px;
        }
       
       .st0{fill:#010101;stroke:#FFFFFF;stroke-miterlimit:10;}
	   .st1{fill:#BCBCBC;stroke:#FFFFFF;stroke-miterlimit:10;}
	   .st2{fill:none;stroke:#FFFFFF;stroke-miterlimit:10;}
	   .st3{stroke:#FFFFFF;stroke-miterlimit:10;}